---
layout: default
---
<h2>{{ page.title }}</h2>
<div class="post">
{{ content }}
</div>

<div id="map" style="width: 100%; height: 600px"></div>

{% if page.author %}
    {% assign slide_author = page.author %}
{% else %}
    {% assign slide_author = "their creators" %}
{% endif %}

{% if page.start_zoom %}
    {% assign start_zoom = page.start_zoom %}
{% else %}
    {% assign start_zoom = 10 %}
{% endif %}

{% if page.max_zoom %}
    {% assign max_zoom = page.max_zoom %}
{% else %}
    {% assign max_zoom = 14 %}
{% endif %}


<script>

		var map = L.map('map').setView([85,-179.5], {{start_zoom}});

		L.tileLayer('{{site.baseurl}}/slides/{{page.slide_id}}_files/{z}/{x}_{y}.jpeg', {
			maxZoom: '{{page.max_zoom}}',
			attribution: 'Images &copy; {{slide_author}}; All Rights Reserved.'
		}).addTo(map);
</script>
